<div class="file-metadata-inner">
    <div class="file-metadata-header">
        <h1>{{'shared.file-metadata-tab-label' | translate}}</h1>
        <mat-divider></mat-divider>
    </div>
    <app-busy-indicator [blurBackground]="true" [busy]="this.loading" [darkenBackground]="false">
        <div class="file-metadata-entries-scroll-container">
            <div class="file-metadata-entries">
                <app-editable-metadata-entry (valueChangeEvent)="this.saveFileName($event)"
                                             *ngIf="fileMetadata"
                                             [value]="fileMetadata.name ?? ''"
                                             attributeName="{{'dlg.file-search-sort.sort-key-type-file-name' | translate}}"></app-editable-metadata-entry>
                <app-metadata-entry attributeName="{{'shared.file-metadata-content-descriptor' | translate}}">{{file.cd}}</app-metadata-entry>
                <app-metadata-entry attributeName="{{'shared.file-metadata-mime-type' | translate}}">{{file.mimeType}}</app-metadata-entry>
                <ng-container *ngIf="fileMetadata">
                    <app-metadata-entry
                        attributeName="{{'dlg.file-search-sort.sort-key-type-file-size' | translate}}">{{fileMetadata.size | formatBytes}}</app-metadata-entry>
                    <app-metadata-entry
                        attributeName="{{'dlg.file-search-sort.sort-key-type-time-imported' | translate}}">{{fileMetadata.import_time | date: 'dd.MM.yy HH:mm:ss' }}</app-metadata-entry>
                    <app-metadata-entry
                        attributeName="{{'dlg.file-search-sort.sort-key-type-time-created' | translate}}">{{fileMetadata.creation_time | date: 'dd.MM.yy HH:mm:ss'}}</app-metadata-entry>
                    <app-metadata-entry
                        attributeName="{{'dlg.file-search-sort.sort-key-type-time-changed' | translate}}">{{fileMetadata.change_time | date: 'dd.MM.yy HH:mm:ss'}}</app-metadata-entry>
                </ng-container>
            </div>
        </div>
    </app-busy-indicator>
</div>
