<div class="sidebar-inner">
    <mat-tab-group (selectedTabChange)="this.onTabChange()" headerPosition="below">
        <mat-tab label="{{'shared.file-search-tab-label' | translate }}">
            <app-file-search (searchEndEvent)="this.onDisplayedFilesChange(); this.searchEndEvent.emit($event);"
                             (searchStartEvent)="this.searchStartEvent.emit($event)"
                             [availableTags]="this.allTags"
                             [contextTags]="this.tags"
                             [state]="this.state"
                             [tagsLoading]="this.tagsLoading"></app-file-search>
        </mat-tab>
        <mat-tab *ngIf="this.selectedFiles.length > 0" label="{{'shared.file-tags-tab-label' | translate }}">
            <app-tag-edit #fileedit [files]="this.selectedFiles"></app-tag-edit>
        </mat-tab>
        <mat-tab *ngIf="this.selectedFiles.length === 1" label="{{'shared.file-metadata-tab-label' | translate }}">
            <app-file-metadata [file]="this.selectedFiles[0]"></app-file-metadata>
        </mat-tab>
    </mat-tab-group>
</div>
