<h1 mat-dialog-title>
    {{'core.repositories-tab.download-daemon-dialog-title' | translate }}
</h1>
<div mat-dialog-content>
    {{'core.repositories-tab.download-daemon-dialog-content' | translate }}
    <br>
    <button (click)="this.onClickDownloadDaemon()" class="download-button" color="primary" mat-flat-button>{{'download-btn' | translate}}
    </button>
</div>
<div class="download-dialog-actions" mat-dialog-actions>
    <button (click)="closeDialog(false)" color="accent" mat-stroked-button>{{'cancel-btn' | translate}}</button>
    <button (click)="closeDialog(true)" color="primary" mat-flat-button>{{'ok-btn' | translate}}</button>
</div>
