<form [formGroup]="formGroup">

    <mat-form-field matTooltip="{{'shared.repository.add-form-name-tooltip' | translate}}" matTooltipShowDelay="1000">
        <mat-label>{{'shared.repository.add-form-name' | translate }}</mat-label>
        <input (blur)="validateName()" (change)="validateName()" (input)="validateName()" formControlName="name"
               matInput>
    </mat-form-field>

    <mat-form-field matTooltip="{{'shared.repository.add-form-type-tooltip' | translate}}"
                    matTooltipShowDelay="1000">
        <mat-label>{{'shared.repository.add-form-type' | translate }}</mat-label>
        <mat-select #repoTypeSelect (selectionChange)="onTypeChange(repoTypeSelect.value)"
                    formControlName="repositoryType">
            <mat-option value="local">Local</mat-option>
            <mat-option value="remote">Remote</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="repoTypeSelect.value === 'local'"
                    matTooltip="{{'shared.repository.add-form-path-tooltip' | translate}}"
                    matTooltipShowDelay="1000">
        <button (click)="openFolderDialog()" class="button-folder-select" mat-button>
            <ng-icon name="mat-folder"></ng-icon>
        </button>
        <mat-label>{{'shared.repository.add-form-path' | translate }}</mat-label>
        <input (change)="this.checkLocalRepoExists()" formControlName="path" matInput>
    </mat-form-field>

    <mat-form-field *ngIf="repoTypeSelect.value === 'remote'"
                    matTooltip="{{'shared.repository.add-form-address-tooltip' | translate}}"
                    matTooltipShowDelay="1000">
        <mat-label>{{'shared.repository.add-form-address' | translate }}</mat-label>
        <input formControlName="address" matInput>
    </mat-form-field>
</form>
<div *ngIf="repoTypeSelect.value === 'remote'" class="connection-state">
    <span>{{'shared.repository.add-form-status' | translate }}&nbsp;:</span>&nbsp;<span>{{this.onlineStatus | translate }}</span>
</div>
