<h1 mat-dialog-title>
    {{'dlg.file-search-sort.title' | translate }}
</h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="this.availablePresets.length > 0" class="preset-selection">
        <mat-label>{{'dlg.file-search-sort.sort-preset' | translate }}</mat-label>
        <mat-select (selectionChange)="this.selectPreset($event.value)" [value]="this.previousId">
            <mat-option [value]="-1"></mat-option>
            <mat-option *ngFor="let preset of this.availablePresets"
                        [matTooltipShowDelay]="1000"
                        [matTooltip]="preset.toString() | translate"
                        [value]="preset.id">
                {{preset.toString() | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div (cdkDropListDropped)="this.onSortEntryDrop($event)" cdkDropList class="sort-input-list">
        <div *ngFor="let sortKey of sortingPreset.sortKeys" cdkDrag class="sort-input-row">
            <div *cdkDragPlaceholder class="drag-placeholder"></div>
            <div cdkDragHandle class="drag-handle">
                <ng-icon name="mat-drag-handle"></ng-icon>
            </div>
            <mat-form-field>
                <mat-label>{{'dlg.file-search-sort.sort-key' | translate }}</mat-label>
                <mat-select [(value)]="sortKey.sortType" required>
                    <mat-option value="Namespace">{{'dlg.file-search-sort.sort-key-type-namespace' | translate }}</mat-option>
                    <mat-option value="FileName">{{'dlg.file-search-sort.sort-key-type-file-name' | translate }}</mat-option>
                    <mat-option value="FileSize">{{'dlg.file-search-sort.sort-key-type-file-size' | translate }}</mat-option>
                    <mat-option value="FileImportedTime">{{'dlg.file-search-sort.sort-key-type-time-imported' | translate }}</mat-option>
                    <mat-option value="FileCreatedTime">{{'dlg.file-search-sort.sort-key-type-time-created' | translate }}</mat-option>
                    <mat-option value="FileChangeTime">{{'dlg.file-search-sort.sort-key-type-time-changed' | translate }}</mat-option>
                    <mat-option value="FileType">{{'dlg.file-search-sort.sort-key-type-file-type' | translate }}</mat-option>
                    <mat-option value="NumTags">{{'dlg.file-search-sort.sort-key-type-number-tags' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="sortKey.sortType === 'Namespace'">
                <mat-label>{{'dlg.file-search-sort.sort-namespace' | translate }}</mat-label>
                <input #namespaceInput
                       (change)="this.handlePresetChange(); sortKey.namespaceName = namespaceInput.value"
                       (focus)="this.updateAutocompleteSuggestions(namespaceInput.value)"
                       (keyup)="this.updateAutocompleteSuggestions(namespaceInput.value)"
                       [matAutocomplete]="namespaceAutocomplete"
                       [value]="sortKey.namespaceName ?? ''"
                       matInput
                       required>
                <mat-autocomplete #namespaceAutocomplete
                                  (optionSelected)="this.handlePresetChange(); sortKey.namespaceName = $event.option.value">
                    <mat-option *ngFor="let namespace of suggestedNamespaces" [value]="namespace.name">
                        {{namespace.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div *ngIf="sortKey.sortType !== 'Namespace'" class="filler"></div>
            <mat-form-field>
                <mat-label>{{'dlg.file-search-sort.sort-direction' | translate }}</mat-label>
                <mat-select (selectionChange)="this.handlePresetChange()" [(value)]="sortKey.sortDirection" required>
                    <mat-option value="Ascending">{{'dlg.file-search-sort.sort-direction-ascending' | translate }}</mat-option>
                    <mat-option value="Descending">{{'dlg.file-search-sort.sort-direction-descending' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button (click)="addNewSortKey()"
                    *ngIf="sortingPreset.sortKeys.indexOf(sortKey) === sortingPreset.sortKeys.length - 1"
                    mat-flat-button>
                <ng-icon name="mat-add"></ng-icon>
            </button>
            <button (click)="removeSortKey(sortKey)"
                    *ngIf="sortingPreset.sortKeys.indexOf(sortKey) !== sortingPreset.sortKeys.length -1"
                    mat-flat-button>
                <ng-icon name="mat-remove"></ng-icon>
            </button>
        </div>
    </div>
</div>
<div class="dialog-actions" mat-dialog-actions>
    <button (click)="deletePreset()" *ngIf="this.previousId >= 0" class="button-left" color="warn" mat-stroked-button>
        {{'delete-btn' | translate }}
    </button>
    <button (click)="saveNewPreset()"
            *ngIf="this.sortingPreset.sortKeys.length > 0"
            class="button-left"
            color="accent"
            mat-stroked-button>{{'save-new-btn' | translate }}
    </button>
    <button (click)="savePreset()"
            *ngIf="this.sortingPreset.sortKeys.length > 0 && this.previousId >= 0"
            class="button-left"
            color="accent"
            mat-flat-button>{{'save-btn' | translate }}
    </button>

    <button (click)="cancelSort()" color="accent" mat-stroked-button>{{'cancel-btn' | translate }}</button>
    <button (click)="confirmSort()" color="primary" mat-flat-button>{{'sort-btn' | translate }}</button>
</div>
